<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% block css %}
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='ingredient/create-ingredient/create-ingredient.css') }}">
    {% endblock %}
</head>
<body>
{% include 'header/header.html' %}

<main class="container">
    <div class="row">
        <div class="col-12" style="display: flex; align-items: center;">
            <a type="button" style="margin-right: 1rem;" href="{{ url_for('ingredient.index') }}">Voltar</a>
            <h1>Adicionar ingredientes</h1>
        </div>
    </div>
    <form method="POST">
        <div class="row">
            <div class="col-12" style="display: flex; align-items: center;">
                <input type="text" class="form-control" placeholder="Nome do ingrediente" id="ingredient_id" style="margin: 10px;">
                <button type="button" class="button submit-button">Adicionar</button>
            </div>
            <div class="col-12" style="display: flex; align-items: center;">
                <input type="text" class="form-control" placeholder="Nome do ingrediente" id="ingredient_id" style="margin: 10px;">
                <button type="button" class="button submit-button">Adicionar</button>
            </div>
            <div class="col-12" style="display: flex; align-items: center;">
                <input type="text" class="form-control" placeholder="Nome do ingrediente" id="ingredient_id" style="margin: 10px;">
                <button type="button" class="button submit-button">Adicionar</button>
            </div>
        </div>
    </form>
</main>

{% include 'footer/footer.html' %}
</body>
</html>